KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_BROKER_1_EXTERNAL_HOST=localhost
KAFKA_BROKER_2_EXTERNAL_HOST=localhost
KAFKA_BROKER_3_EXTERNAL_HOST=localhost
KAFKA_BROKER_1_EXTERNAL_PORT=9092
KAFKA_BROKER_2_EXTERNAL_PORT=9094
KAFKA_BROKER_3_EXTERNAL_PORT=9096
